<% if @over_ten %>
    <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>

<section class="talk">
  <h1>
    <%= @user.name %>との会話
  </h1>
  <ul class="talk__body">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <li>
          <p><strong><%= user.name %></strong> <%= message.message_time %></p>
          <p class="u-space-t-XS"><%= message.body %></p>
        </li>
      <% end %>
    <% end %>
  </ul>

  <div class="u-space-t-XL">
  <%= form_for [@conversation, @message], html: {class: ''} do |f| %>
    <div class="field">
      <%= f.text_area :body, class: 'form-control' %>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: 'hidden' %>
    <div class="u-space-t-M">
      <%= f.submit 'メッセージを送る', class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>
  </div>
</section>


