<% if notice %>
    <p class="topicList__notice alert alert-success"><%= notice %></p>
<% else %>
<% end %>
<p class="text-center">
  <%= link_to '投稿する', new_topic_path, class: 'btn btn-default' %>
</p>

<div class="topicList">
  <% @topics.each do |topic| %>
    <div class="well">
      
      <div class="topicList__photo">
        <%= image_tag(topic.photo, alt: '') %>
      </div>
      <p><%= topic.comment %></p>
      <p><%=@users.find(topic.user_id).name %></p>

      <div class="text-right">

        <%= link_to topic_path(topic.id) do %>
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        <% end %>
        
        <% if topic.user_id == @curUserId %>
          <%= link_to edit_topic_path(topic.id) do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <% end %>

          <%= link_to topic_path(topic.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        <% end %>
          

      </div>
      
    </div>

  <% end %>
</div>

