<p id="notice"><%= notice %></p>
<section class="topicTalk">
  <h1>
    <%= @topic.comment %>
    <span class="u-text-size-M">posted : <%= @topic.created_at.strftime("%y/%m/%d %p %l:%M") %></span>
  </h1>


  <div class="topicTalk__body">
    <h2 class="u-text-size-XL u-space-b-XL">コメント一覧</h2>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic } %>
    </div>
    <div class="u-space-t-XL c-group -space-M">
      <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
      <% if current_user.id == @topic.user_id %>
          <%= link_to '編集', edit_topic_path(@topic) %>
      <% end %>
      <%= link_to '戻る', topic_index_path, class:'u-inline-block' %>
    </div>

  </div>
</section>