<!DOCTYPE html>
<html>
<head>
  <title>FacebookKayo?</title>
  <meta name="robots" content="noindex, nofollow">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="header">
  <div class="header__body">
    <p>
      <%= link_to topic_index_path do %>
        <img src="<%= asset_path 'f-logo.svg' %>" width="200" alt="">
      <% end %>
    </p>
    <% if user_signed_in? %>
      <nav>
        <li>
          <%= profile_img(@current_user) if @current_user %>
        </li>
        <li>
          <%= link_to '友達一覧', users_path %>
        </li>
        <li>
          <%= link_to 'メッセージ', conversations_path %>
        </li>
        <li>
          <%= link_to 'アカウント設定', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete ,data: { confirm: 'ログアウトしますか？' }%>
        </li>
      </nav>
    <% end %>
  </div>
</header>

<div class="contents">
  <div class="contents__body">
    <%= yield %>
  </div>
</div>

<footer class="footer">
  <p>©FacebookKayo?</p>
  <nav>
    <li>
      <a href="https://diveintocode.jp" target="_blank">DIVE INTO CODE</a>
    </li>
    <li>
      <a href="https://diveintocode.jp/secondteam" target="_blank">SECONDTEAM</a>
    </li>
    <li>
      <a href="https://diver.diveintocode.jp/" target="_blank">DIVER</a>
    </li>
  </nav>
</footer>

<%= javascript_include_tag 'application' %>
</body>
</html>
