<!DOCTYPE html>
<html>
<head>
  <title>FacebookKayo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete ,data: { confirm: 'ログアウトしますか？' }, class: '' %>

<%= yield %>

<%= javascript_include_tag 'application' %>
</body>
</html>
